  
<!-- bottom of header -->
<div class="container-fluid indigo text-light text-center bottomHeader z-depth-1 py-5 mt-5" >
  <h3 class="pb-5">We help all students and Institutions to go online, to conduct online tests and give instant analysis and feedback to students.</h3> 
  <button type="button" class="btn btn-light  waves-dark text-primary " mdbRippleRadius><span class="indigo-text "><strong>LET`s GET STARTED</strong></span></button>

</div>




<!-- how we created monopoly -->
<div class="container-fluid light text-muted text-center py-5">
    <h2><strong>How We Created a Monopoly In The Market?</strong></h2>
  <p><strong>TestForU is a unique platform which bridges the gap between students and teachers.Institutions all over the world can
    register and conduct online test for their students. Our motto is to motivate those coaching centres which can`t afford
    a seperate e-platform and an IT team to provide digital education.</strong>
  </p>
</div>
<hr>
<!-- key features for Institution and students via routing -->
<div class="container-fluid   text-muted text-center py-5">
  <h2 class="pb-5"><strong>Key Features</strong></h2>
  <button type="button" class="btn btn-light  waves-dark  m-0" 
   mdbRippleRadius (click)=btnClicked(false)><span class="black-text "><strong>Institutions</strong></span></button>
  <button type="button" class="btn btn-light  waves-dark m-0 "  (click)=btnClicked(true)
  mdbRippleRadius><span class="black-text "><strong>Students</strong></span></button>
  
</div>
<!-- if else block for key features students -->
<div *ngIf='this.studentsClicked ; else elseBlock;' class="container-fluid   text-secondary  row pr-0 mr-0" style="margin-left: -9px">
  <div class="container-fluid text-center col-md-4 col-sm-6">
          <div class="card mb-3">

              <!--Card image-->
              <img class="img-fluid " src="https://cdn0.iconfinder.com/data/icons/science-7/512/list-512.png"
              max-height="50%" width="50%" alt="Card image cap" class="mx-auto">
          
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h2 class="card-title text-dark"><strong>Unlimited Attempts</strong></h2>
                  <!--Text-->
                  <p>Once you registered for test, there is no limit on number of test
                      you can attempt
                  </p>
              </div>
          
          </div>

</div>

<div class="container-fluid text-center col-md-4 col-sm-6">
      <div class="card mb-3">

          <!--Card image-->
          <img class="img-fluid " src="../../assets/detail_analysis.png"
          max-height="50%" width="50%" alt="Card image cap" class="mx-auto">
      
          <!--Card content-->
          <div class="card-body">
              <!--Title-->
              <h2 class="card-title text-dark"><strong>Detailed Analysis</strong></h2>
              <!--Text-->
              <p>
                  just after the test, you will get a detailed analysis about your performance
                  in pictorial and text format. It will guideyou to improve your weak topics.
              </p>
          </div>
      
      </div>

</div>

<div class="container-fluid text-center col-md-4 col-sm-6">
      <div class="card mb-3">

          <!--Card image-->
          <img class="img-fluid " src="../../assets/low_cost.png"
          max-height="50%" width="50%" alt="Card image cap" class="mx-auto">
      
          <!--Card content-->
          <div class="card-body">
              <!--Title-->
              <h2 class="card-title text-dark"><strong>Low Registration Cost</strong></h2>
              <!--Text-->
              <p>
                  We have kept the registration charges so less that it won`t even put pressure
                  in your pocket . Our motto is "lowest charges, highest service".
              </p>
          </div>
      
      </div>

</div>



  

</div>

<!-- key feature institute -->
<ng-template #elseBlock>
  <div class="container-fluid   text-secondary  row pr-0 mr-0" style="margin-left: -9px">
    <div class="container-fluid text-center col-md-4 col-sm-6">
            <div class="card mb-3">

                <!--Card image-->
                <img class="img-fluid " src="../../assets/test.png"
                max-height="45%" width="50%" alt="Card image cap" class="mx-auto">
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h2 class="card-title text-dark"><strong>Unlimited Test Hosting</strong></h2>
                    <!--Text-->
                    <p>You can host any noumber of tests once you pay the host charges to us.</p>
                </div>
            
            </div>

</div>
<div class="container-fluid text-center col-md-4 col-sm-6">
        <div class="card mb-3">

            <!--Card image-->
            <img class="img-fluid " src="../../assets/instant_result.gif"
            max-height="50%" width="50%" alt="Card image cap" class="mx-auto mt-3">
        
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h2 class="card-title text-dark"><strong>Instant Result</strong></h2>
                <!--Text-->
                <p>Days are gone when you need to manually check the papers or keep machines to check OMR
                    sheet. No overhead of checking thus getting instant result of the exam of the test.
                </p>
            </div>
        
        </div>

</div>

<div class="container-fluid text-center col-md-4 col-sm-6">
    <div class="card mb-3">

        <!--Card image-->
        <img class="img-fluid " src="../../assets/save_money.png"
        max-height="55%" width="55%" alt="Card image cap" class="mx-auto">
    
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h2 class="card-title text-dark"><strong>We Save Your Money</strong></h2>
            <!--Text-->
            <p>Hosting a test in offline/online mode costs you 4-5 rupees per test per student
                . But with us, we ensure you to have a unique experiance in less than a rupee.
            </p>
        </div>
    
    </div>

</div>
<div class="container-fluid text-center col-md-4 col-sm-6">
    <div class="card mb-3">

        <!--Card image-->
        <img class="img-fluid " src="../../assets/time_save.png"
        max-height="55%" width="55%" alt="Card image cap" class="mx-auto mt-3">
    
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h2 class="card-title text-dark"><strong>We Save Your Time</strong></h2>
            <!--Text-->
            <p>We reduce the overhead of maintainance of your oown website and keeping 
                a dedicated IT employee for it.We help you focus on questio setting
            areas and we care rest of all.</p>
        </div>
    
    </div>

</div>
<div class="container-fluid text-center col-md-4 col-sm-6">
<div class="card mb-3">

    <!--Card image-->
    <img class="img-fluid " src="../../assets/pdf.png"
    max-height="30%" width="30%" alt="Card image cap" class="mx-auto mt-3">

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h2 class="card-title text-dark"><strong>No More Books And Sheets</strong></h2>
        <!--Text-->
        <p>Gone are the time when coachings used to provide study materialand daily
            practice sheets. We came up with the idea of e-book materials and sheets 
            thus providing a platfrm where institutions can share materials and problem sheets.
        </p>
    </div>

</div>

</div>

<div class="container-fluid text-center col-md-4 col-sm-6">
<div class="card mb-3">

<!--Card image-->
<img class="img-fluid " src="../../assets/announcement.jpg"
max-height="95%" width="95%" alt="Card image cap" class="mx-auto">

<!--Card content-->
<div class="card-body">
    <!--Title-->
    <h2 class="card-title text-dark"><strong>Announcements</strong></h2>
    <!--Text-->
    <p>We help yo in providing pre-announcements and post-announcements to the students.
        With just one click, all of your students hear you in a go.
    </p>
</div>

</div>

</div>




</div>


</ng-template>

<!-- how it works for stud. Institutions via routing -->
<div class="container-fluid   text-secondary text-center py-5">
  <h2 class="pb-5"><strong>Here`s How It Works</strong></h2>
  <button type="button" class="btn btn-light  waves-dark  m-0" (click)=btnWorkClicked(false) 
   mdbRippleRadius><span class="black-text "><strong>Institutions</strong></span></button>
  <button type="button" class="btn btn-light  waves-dark m-0 " (click)=btnWorkClicked(true) 
  mdbRippleRadius><span class="black-text "><strong>Students</strong></span></button>
  
</div>
<!-- how it works using if else -->
<div *ngIf='this.studentsWorkClicked ; else otherBlock;' class="container-fluid   text-secondary  row pr-0 mr-0" style="margin-left: -9px">
    <div class="container-fluid   text-secondary  row pr-0 mr-0" style="margin-left: -9px">
        <div class="container-fluid text-center col-md-4 col-sm-6">
            <div class="card mb-3">
    
                <!--Card number-->
                <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>1</strong></h2>         
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h2 class="card-title text-dark"><strong>Register as guest</strong></h2>
                    <!--Text-->
                    <p class="mb-5">Once you sign in successfully, you can register with us by paying a minimal
                        price of rs 99.
                    </p>
                </div>
            
            </div>
    
        </div>
    <div class="container-fluid text-center col-md-4 col-sm-6">
            <div class="card mb-3">
    
                <!--Card number-->
                <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>2</strong></h2>
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h2 class="card-title text-dark"><strong>Take Tests</strong></h2>
                    <!--Text-->
                    <p>
                        After registering you can take any number of tests in any of the institutions
                        in which you are studying which has been registered with us. 
                    </p>
                </div>
            
            </div>
    
    </div>
    <div class="container-fluid text-center col-md-4 col-sm-6">
            <div class="card mb-3">
    
                <!--Card number-->
                <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>3</strong></h2>
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h2 class="card-title text-dark"><strong>Get Detailed Analysis</strong></h2>
                    <!--Text-->
                    <p>
                        Once the test is over,you will get a detailed analysis of the test taken with
                        respect to others, also you can find detailed solution of the test instantly.
                    </p>
                </div>
            
            </div>
    
    </div>
    
    
    
    </div>
</div>
<ng-template #otherBlock>
    <div class="container-fluid   text-secondary  row pr-0 mr-0" style="margin-left: -9px">
        <div class="container-fluid text-center col-md-4 col-sm-6">
            <div class="card mb-3">
    
                <!--Card number-->
                <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>1</strong></h2>         
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h2 class="card-title text-dark"><strong>Register as host</strong></h2>
                    <!--Text-->
                    <p class="mb-5">Once the signup is done as host, register yourself as a host
                        by paying some minimal fee.
                    </p>
                </div>
            
            </div>
    
        </div>
        <div class="container-fluid text-center col-md-4 col-sm-6">
                <div class="card mb-3">
        
                    <!--Card number-->
                    <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>2</strong></h2>         
                
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h2 class="card-title text-dark"><strong>Create Test And Settings</strong></h2>
                        <!--Text-->
                        <p class="mb-5">Once you are registered, you can create a test and add attributes like test
                            time, duration, username of students allowed to attend test, no of questions, marking
                             scheme etc.
                        </p>
                    </div>
                
                </div>
        
            </div>
            <div class="container-fluid text-center col-md-4 col-sm-6">
                    <div class="card mb-3">
            
                        <!--Card number-->
                        <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>3</strong></h2>         
                    
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h2 class="card-title text-dark"><strong>Add Questions & Publish Test</strong></h2>
                            <!--Text-->
                            <p class="mb-5">
                                Here you enter the Questions manually or from previous test history,their options
                                & correct answers. If everything is fine and proper, host canpublish test.
                            </p>
                        </div>
                    
                    </div>
            
                </div>
            </div>
    
</ng-template>
<!-- <app-how-works-students></app-how-works-students>
<app-feedback></app-feedback> -->
  









