<div class="container-fluid   text-secondary  row pr-0 mr-0" style="margin-left: -9px">
        <div class="container-fluid text-center col-md-4 col-sm-6">
            <div class="card mb-3">
    
                <!--Card number-->
                <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>1</strong></h2>         
            
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h2 class="card-title text-dark"><strong>Register as host</strong></h2>
                    <!--Text-->
                    <p class="mb-5">Once the signup is done as host, register yourself as a host
                        by paying some minimal fee.
                    </p>
                </div>
            
            </div>
    
        </div>
        <div class="container-fluid text-center col-md-4 col-sm-6">
                <div class="card mb-3">
        
                    <!--Card number-->
                    <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>2</strong></h2>         
                
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h2 class="card-title text-dark"><strong>Create Test And Settings</strong></h2>
                        <!--Text-->
                        <p class="mb-5">Once you are registered, you can create a test and add attributes like test
                            time, duration, username of students allowed to attend test, no of questions, marking
                             scheme etc.
                        </p>
                    </div>
                
                </div>
        
            </div>
            <div class="container-fluid text-center col-md-4 col-sm-6">
                    <div class="card mb-3">
            
                        <!--Card number-->
                        <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>3</strong></h2>         
                    
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h2 class="card-title text-dark"><strong>Add Questions & Publish Test</strong></h2>
                            <!--Text-->
                            <p class="mb-5">
                                Here you enter the Questions manually or from previous test history,their options
                                & correct answers. If everything is fine and proper, host canpublish test.
                            </p>
                        </div>
                    
                    </div>
            
                </div>
            </div>
    