<div class="container-fluid   text-secondary  row pr-0 mr-0" style="margin-left: -9px">
    <div class="container-fluid text-center col-md-4 col-sm-6">
        <div class="card mb-3">

            <!--Card number-->
            <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>1</strong></h2>         
        
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h2 class="card-title text-dark"><strong>Register as guest</strong></h2>
                <!--Text-->
                <p class="mb-5">Once you sign in successfully, you can register with us by paying a minimal
                    price of rs 99.
                </p>
            </div>
        
        </div>

    </div>
<div class="container-fluid text-center col-md-4 col-sm-6">
        <div class="card mb-3">

            <!--Card number-->
            <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>2</strong></h2>
        
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h2 class="card-title text-dark"><strong>Take Tests</strong></h2>
                <!--Text-->
                <p>
                    After registering you can take any number of tests in any of the institutions
                    in which you are studying which has been registered with us. 
                </p>
            </div>
        
        </div>

</div>
<div class="container-fluid text-center col-md-4 col-sm-6">
        <div class="card mb-3">

            <!--Card number-->
            <h2  class="text-white indigo mx-auto mt-3" style="width: 3rem"><strong>3</strong></h2>
        
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h2 class="card-title text-dark"><strong>Get Detailed Analysis</strong></h2>
                <!--Text-->
                <p>
                    Once the test is over,you will get a detailed analysis of the test taken with
                    respect to others, also you can find detailed solution of the test instantly.
                </p>
            </div>
        
        </div>

</div>



</div>