div.topHeader{
    height:70px;
    z-index: 200;
    span.toogle_button{
            display:none;
            cursor: pointer;  

    }
}

.topHeader{
    padding-top: 150px;
    padding-bottom: 30px;
}
.topHeader li{
    display: inline;
}
@media  (max-width: 820px) {
    div{
        ul.nav_list{
            display:none;
        }}

    div.topHeader{
        span.toogle_button{
                display:inline;
    
        }
    }
}
div.sideNav{
    z-index: 1000;
    display: none;
    position:fixed;
    right:0px;
    top:0px;
    width: 325px; 
    height:1000px;
}

li{
    list-style-type: none;
}
a{
    color: white;
    hover{
        color:white;
      }
}
  
