<!--Navbar-->
<div class="container-fluid indigo text-light  topHeader z-depth-1 pt-1 fixed-top">
  <a class="navbar-brand float-left ml-5 pr-0 mr-0" routerLink=""><img 
      src="../assets/testforu_logo.png" height="50px"></a>
<ul style="float:right;" class="mt-3 mr-3 pl-0 nav_list">
  <li class="mx-3 h6"><a href="#">Students</a></li>
  <li class="mx-3 h6"><a href="#">Institutions</a></li>
  <li class="mx-3 h6"><a  routerLink='/test'>Exams</a></li>
  <button type="button" class="btn btn-light  px-3 py-2 mx-3 waves-dark 
      text-primary " mdbRippleRadius><span class="indigo-text"><strong>Log in</strong>
      </span></button>
  <button type="button" class="btn btn-indigo btn btn-outline-white mx-3 px-3 py-2 waves-dark 
       " mdbRippleRadius><span class="white-text "><strong>sign up</strong>
      </span></button>
</ul>
<span class="toogle_button float-right mt-3" (click)="onClick()"> <i class="fa fa-bars fa-2x"></i></span>

</div>
<!--/.Navbar-->
<!-- div for sidenav -->
<div class="container white text-dark sideNav z-depth-5"  >
  <div><i class="fa fa-times fa-2x float-right " style="cursor: pointer;" (click)="closed()"></i></div>
  <ul class="mt-5">
      <li class=" active ">
          <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-dark" mdbRippleRadius>Students</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" mdbRippleRadius>Institutions</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
        Help<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary text-dark" role="menu">
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">nothing</a>
        </div>
      </li>
      <li class="nav-item">
          <button type="button" class="btn btn-light h6 waves-dark btn-outline-indigo px-3 
          text-indigo " mdbRippleRadius>Log in</button>
          <button type="button" class="btn btn-indigo btn  h6 waves-dark text-white px-3
          " mdbRippleRadius>sign up</button>            
      </li> 
  </ul>
</div>

 <!-- <app-header></app-header>  -->
 <router-outlet></router-outlet>
 



<!-- footer -->
 <div class="container-fluid text-left z-depth-2 indigo darken-1 text-white row pt-3 mx-0 footer">
    <div class="col-md-4 ">
      <ul>
        <li><h5>For Students</h5></li>
        <li><a href="#">Sign Up as guest</a><br></li>
        <li><a href="#">Take a Test</a><br></li>
        <li><a href="#">Edit Profile</a></li>
      </ul>
  
      <ul>
        <li><h5>For Institutions</h5></li>
        <li><a href="#">Sign Up as host</a><br></li>
        <li><a href="#">Conduct Test</a><br></li>
        <li><a href="#">Edit Profile</a></li>
        <li><a href="#">Share materials</a></li>
      </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li><h5>Company</h5></li>
            <li><a href="#">About us</a><br></li>
            <li><a href="#">Careers</a><br></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Reach to us</a></li>
            <li><a href="#">Developers</a></li>
          </ul>
    </div>
  
    <div class="col-md-4 ">
      <ul>
        <li><h5>Contact Details</h5></li>
        <li><i class="fa fa-location-arrow fa-lg"></i> &nbsp;Bazaar Samiti, Patna Bihar</li>
        <li><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> &nbsp;Sanjeevkumar181998@gmail.com</li>
        <li><i class="fa fa-phone-square fa-lg"></i> &nbsp;+91-8608311421</li>
        <li>office hours:(10:00AM to 8:00 PM daily)</li>
      </ul>
    </div>
  
  
    </div> 
  